$black:                #333333;
$white:                #fff;
$blue:                 #065CC2;
$main-grey:            #F2F2F2;
$secondary-grey:       #F8F8F8;
$third-grey:           #8C8C8C;
$fourth-grey:          #C5C5C5;
$grey-text:            #6E6E73;
$main-border:          #D6D6D6;
$ordering-btn-border:  #E01D1D;
$ordering-btn-bg: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;